.form {
    flex: 2;
}

.form-top-bar{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    margin-bottom: 2rem;

}

.tabs{
    display: flex;
    width: 100%;
}

.tab{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.tab button{
    color: blue;
}

.tab.active button{
    color: white;
}

.tab.active{
    background-color: blue;
    color: white;
}

.tab-content.active{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.tab-content{
    display: none;
   
}

.form-buttons {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0.5rem;
    padding-right: 0.5rem;
}

.form-clean-button button svg,
.form-save-button button svg {
    width: 2rem;
    
}

.form-clean-button button svg path,
.form-save-button button svg path {
    fill: $secondary-color;
}

.form-clean-button button:hover svg path,
.form-save-button button:hover svg path {
    fill: $hover-color;
}


.form-element {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    width: 49%;
}

.form-element-input * {
    background-color: $tertiary-color;
    border: none;
    box-sizing: border-box;
    font-size: 1rem;
    outline: transparent;
    padding: 0.5rem;
    width: 100%;
}